@font-face {
    font-family: 'Alexon RR';
    src: url('AlexonRR-Bold.woff2') format('woff2'),
        url('AlexonRR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alexon RR';
    src: url('AlexonRR-Light.woff2') format('woff2'),
        url('AlexonRR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexon RR';
    src: url('AlexonRRSc-Light.woff2') format('woff2'),
        url('AlexonRRSc-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexon RR';
    src: url('AlexonRR-Medium.woff2') format('woff2'),
        url('AlexonRR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

