@font-face {
  font-family: "TSTAR-Bold";
  src: url("./fonts/TSTAR-Bold.eot");
  src: url("./fonts/TSTAR-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TSTAR-Bold.woff") format("woff"),
    url("./fonts/TSTAR-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTAR-Light";
  src: url("./fonts/TSTAR-Light.eot");
  src: url("./fonts/TSTAR-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TSTAR-Light.woff") format("woff"),
    url("./fonts/TSTAR-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTAR-Regular";
  src: url("./fonts/TSTAR-Regular.eot");
  src: url("./fonts/TSTAR-Regular.eot") format("embedded-opentype"),
    url("./fonts/TSTAR-Regular.woff") format("woff"),
    url("./fonts/TSTAR-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTAR-Headline";
  src: url("./fonts/TSTAR-Headline.eot");
  src: url("./fonts/TSTAR-Headline.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TSTAR-Headline.woff") format("woff"),
    url("./fonts/TSTAR-Headline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
